.yzpDragbox{
	position: fixed;
	width:500px;
	height: 300px;
	color:white;
	font-family: "微软雅黑";
}

.yzpDragbox header{
	background-color: rgb(100,200,200);
	color: white;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: move;
	-webkit-user-select:none;
}

.yzpDragbox header span{
	float:right;
	margin-right:10px;
	cursor: pointer;
}

.yzpDragbox iframe{
	width: 100%;
	height: 100%;
	border: none;
	background-color: rgb(100,100,100);
}
